.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px auto;
    gap: 20px
    ;

}
.cart-container {
    background-color: #f5bb84;
    padding: 30px;
    position: sticky;
    top: 0;
   

}
.cart-container h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    
}